doctype html
html(lang='en')
  head
    title My Tasks
    link(rel='stylesheet', href='/static/main.css')
   
  body 
  
    div.mainSection
      div.mainName
        div.ForImg
          h1.name My Tasks 
           div.Img
         

        block Content 
       
    